<% provide :title, t("sign_up") %>
<h1><%= t "sign_up_form" %></h1>
<div class="log">
  <div class="social w3ls">
    <li class="f"><a href="#"><%= image_tag "fb.png" %></a></li>
    <li class="t"><a href="#"><%= image_tag "twt.png" %></a></li>
    <li class="p"><a href="#"><%= image_tag "pin.png" %></a></li>
    <li class="i"><a href="#"><%= image_tag "ins.png" %></a></li>
    <div class="clear"></div>
  </div>

  <div class="content2 w3agile">
    <h2><%= t "sign_up" %></h2>
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.text_field :name, placeholder: t("form.name") %>
      <%= f.email_field :email, placeholder: t("form.email") %>
      <%= f.password_field :password, placeholder: t("form.password") %>
      <%= f.password_field :password_confirmation, placeholder: t("form.confirmation") %>

      <div class="button-row">
        <%= f.submit t("create_account"), class: "sign-in" %>
        <div class="clear"></div>
      </div>
    <% end %>
    <h3> <%= t "account" %> <%= link_to t("index.login"), login_path %></h3>
    <br>
  </div>
</div>
