<% provide :title, t("exam") %>
<h3><div class="panel panel-primary">
  <div class="panel-heading">
    <%= t "exam_of" %>
    <%= @lesson.category.name %>
  </div>
</div></h3>
<div class="topright">
  <h1>
    <span id="countdowntimer" class="label label-info">
      <%= time_of_lesson @lesson %>
    </span>
  </h1>
  <p><%= t "seconds" %></p>
</div>
<%= form_for [@lesson.category, @lesson], html: {id: "lessonform",
  name: "lessonform"} do |f| %>
  <% if @lesson.questions.any? %>
    <%= f.fields_for :questions, @lesson.questions do |builder| %>
      <div id="questions" class="row center-block">
        <%= render "questions_fields", f: builder %>
      </div>
    <% end %>
  <% end %>
  <hr>
  <%= f.submit t("finish"), class: "btn btn-primary" %>
<% end %>
