<% provide :title, t("result") %>
<h2><%= t "lesson_finish" %></h2>
<div class="col-md-12" id="customer-order">
  <div class="box">
    <h2><%= t "result" %>&nbsp;
      <span class="text-danger">
        <%= @score %>/<%= @lesson.questions.size %>
      </span>
    </h2>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t "question" %></th>
            <th><%= t "question_name" %></th>
            <th><%= t "your_choose" %></th>
            <th><%= t "result" %></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each_with_index do |result, index| %>
            <tr>
              <td><%= index_of_result index %></td>
              <td><%= result.word.content %></td>
              <td>
                <% if result.answer %>
                  <%= result.answer.content %>
                <% end %>
              </td>
              <td>
                <% if result.answer.nil? || !result.answer.is_correct? %>
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                <% else %>
                  <span class="glyphicon glyphicon-ok text-success"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <%= link_to t("continue"), categories_path, class: "pull-left btn btn-primary"%>
    </div>
  </div>
</div>
