<% provide :title, t("new_word") %>
<h1><%= t "new_word" %></h1>
<div class="row center-block form-admin">
  <% if current_user.admin? %>
    <%= form_for @word do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="field">
        <%= f.label :content %>
        <%= f.text_field :content, class: "form-control" %>
        <%= hidden_field_tag :category_id, @category.id %>
      </div>
      <%= f.fields_for :answers do |builder| %>
        <%= render "answer_fields", f: builder %>
      <% end %>
      <p><%= link_to_add_fields t("add_answer"), f, :answers %></p>
      <%= f.submit t("save"), class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
