<% provide :title, t("categories") %>
<div class="row center-block form-admin">
<% if current_user.admin? %>
  <%= form_for @category do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="col-md-7 field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.text_area :discription, class: "form-control",
        placeholder: t("form.discription") %>
    </div>
    <%= f.submit t("create"), class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
<hr>
<h2><%= t "all_categories" %></h2>
<% if @categories.any? %>
<%= will_paginate %>
  <% @categories.each do |category| %>
    <div class="panel panel-success">
      <% if current_user.admin? %>
        <%= link_to t("delete"), category, method: :delete,
         data: {confirm: t("sure")},
         class: "btn btn-danger btn-sm pull-right" %>
        <%= link_to t("edit"), edit_category_path(category),
         class: "btn btn-warning btn-sm pull-right" %>
      <% end %>
      <%= form_for [category, @lesson] do |f| %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= f.submit t("start"), class: "btn btn-info btn-sm pull-right" %>
      <% end %>
      <div class="panel-heading">
        <%= link_to category.name, category %>
        (<%= category.words.by_learned(current_user.id, category.id).size %>/
        <%= category.words.size %>)
      </div>
      <div class="panel-body"><%= category.discription %></div>
    </div>
  <% end %>
<%= will_paginate %>
<% end %>
