<% provide :title, t("categories") %>
<div class="row">
  <% if current_user.admin? %>
    <br>
    <%= link_to t("new_category"), new_category_path,
      class: "btn btn-info btn-sm pull-right col-sm-2" %>
  <% end %>
  <div class="col-sm-5">
    <%= form_tag categories_path, method: "get", id: "search-form",
      class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: t("search"),
          class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag type: t("submit"), class: "btn btn-flat" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<hr>
<h2><%= t "all_categories" %></h2>
<% if @categories.any? %>
  <% @categories.each do |category| %>
    <div class="panel panel-success">
      <% if current_user.admin? %>
        <%= link_to t("delete"), category, method: :delete,
         data: {confirm: t("sure")},
         class: "btn btn-danger btn-sm pull-right" %>
        <%= link_to t("edit"), edit_category_path(category),
         class: "btn btn-warning btn-sm pull-right" %>
      <% end %>
      <%= form_for [category, @lesson] do |f| %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= f.submit t("start"), class: "btn btn-info btn-sm pull-right" %>
      <% end %>
      <div class="panel-heading">
        <%= link_to category.name, category %>
        (<%= category.words.by_learned(current_user.id, category.id).size %>/
        <%= category.words.size %>)
      </div>
      <div class="panel-body"><%= category.discription %></div>
    </div>
  <% end %>
<%= will_paginate %>
<% else %>
  <p><%= t "not_found_category_with_" %><%= params[:search] %>.</p>
<% end %>
