<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <% if logged_in? %>
        <div class="pull-left image">
          <%= image_tag current_user.avatar.url, class: "user-image" %>
        </div>
        <div class="pull-left info">
          <p><%= link_to current_user.name, current_user %></p>
          <a><i class="fa fa-circle text-success"></i><%= t "online" %></a>
        </div>
      <% end %>
    </div>

    <%= form_tag categories_path, method: "get", id: "search-form",
      class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: t("search"),
          class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag type: t("submit"), class: "btn btn-flat" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>

    <ul class="sidebar-menu">
      <li class="header"> <%= t "main" %> </li>
      <li class="treeview">
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <span><%= t "home" %></span>
        <% end %>
      </li>
      <% if logged_in? %>
        <li class="treeview">
          <%= link_to categories_path do %>
            <i class="fa fa-files-o"></i>
            <span><%= t "category" %></span>
          <% end %>
        </li>

        <li>
          <%= link_to words_path do %>
            <i class="fa fa-th"></i>
            <span><%= t "words_list" %></span>
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to users_path do %>
            <i class="fa fa-user"></i>
            <span><%= t "people" %></span>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</aside>
