<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b><%= t "version" %></b><%= Settings.version %>
  </div>
  <strong><%= t "copyright" %> &copy;<%= t "2016-2017 nqp" %></strong>
  <%= t "all rights reserved." %>
</footer>
