<header class="main-header ">
  <%= link_to root_path, class: "logo" do %>
    <span class="logo-mini"><b><%= t("e") %></b></span>
    <span class="logo-lg"><b><%= t("e_learning") %></b></span>
  <% end %>

  <nav class="navbar navbar-static-top">
    <div class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only"><b><%= t("toggle_navigation") %></b></span>
    </div>

    <div class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= link_to current_user.name, current_user %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <%= image_tag current_user.avatar.url %>
                <p><%= current_user.name %></p>
              </li>
              <li>
                <%= link_to t("profile"), current_user, class: "btn btn-default btn-flat" %>
              </li>

              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to t("setting"), edit_user_path(current_user), 
                    class: "btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
                  <%= link_to t("log_out"), logout_path, method: "delete", 
                    class: "btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("log_in"), login_path %></li>
        <li><%= link_to t("sign_up"), signup_path %></li>
      <% end %>
    </div>
  </nav>
</header>
